 .u-section-1 {
  min-height: 280px;
}

.u-section-1 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 73px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.5rem;
}

.u-section-1 .u-image-1 {
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  margin: 30px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 152px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 1.125rem;
    margin-right: auto;
    margin-left: 16px;
  }

  .u-section-1 .u-image-1 {
    width: 171px;
    height: 49px;
    margin-top: -1px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    font-size: 1.125rem;
    margin: 0 calc(((100% - 340px) / 2)  + 71px) 0 0;
  }
}.u-block-a1b5-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-a1b5-3 {
  position: absolute;
  left: 0;
}

.u-block-a1b5-4 {
  position: absolute;
  right: 0;
}

.u-section-2-1 .u-sheet-1 {
  min-height: 700px;
}

.u-section-2-1 .u-image-1 {
  width: 570px;
  height: 148px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 276px auto 60px;
}

@media (max-width: 767px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-2-1 .u-image-1 {
    width: 540px;
    height: 141px;
  }
}

@media (max-width: 575px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 157px;
  }

  .u-section-2-1 .u-image-1 {
    width: 452px;
    height: 118px;
    margin: 0 -56px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 400px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
  font-size: 6rem;
  font-family: Roboto, sans-serif;
}

.u-section-3 .u-text-2 {
  font-family: alfont_com_KOSans-Regular;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 3rem;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 94px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    font-size: 1.875rem;
    font-family: alfont_com_KOSans-Regular;
    margin-top: 13px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    font-weight: 700;
    width: auto;
    font-size: 1.25rem;
    font-family: Lato, sans-serif;
    margin: 13px auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 400px;
}

.u-section-4 .u-text-1 {
  width: auto;
  font-size: 1.875rem;
  font-family: alfont_com_KOSans-Regular;
  margin: -21px 385px 0 auto;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  margin-left: auto;
  margin-right: 385px;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-top: 20px;
    margin-right: 317px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 317px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 243px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 243px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-right: 182px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 182px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 142px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 50px;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    font-weight: 700;
    margin-top: 13px;
    margin-bottom: 13px;
    margin-right: auto;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 142px;
}

.u-section-5 .u-text-1 {
  width: auto;
  font-size: 1.875rem;
  font-family: alfont_com_KOSans-Regular;
  margin: 50px auto 0;
}

.u-section-5 .u-text-2 {
  width: auto;
  font-weight: 700;
  margin: 13px auto 0;
}

.u-section-5 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-family: "Open Sans", sans-serif;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 232px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 50px;
  }

  .u-section-5 .u-btn-1 {
    font-family: alfont_com_KOSans-Regular;
    margin-top: 13px;
    margin-bottom: 50px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 142px;
}

.u-section-6 .u-text-1 {
  width: auto;
  font-size: 1.875rem;
  font-family: alfont_com_KOSans-Regular;
  margin: 50px auto 0;
}

.u-section-6 .u-text-2 {
  width: auto;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  font-size: 3rem;
  margin: 13px auto 0;
}

.u-section-6 .u-image-1 {
  width: 171px;
  height: 49px;
  margin: 30px auto 0;
}

.u-section-6 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-family: "Open Sans", sans-serif;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-2 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-6 .u-text-1 {
    line-height: 1.47;
    margin-top: 50px;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-6 .u-text-2 {
    font-family: alfont_com_KOSans-Regular;
    line-height: 1.55;
    font-size: 1.5rem;
    font-weight: 400;
    margin-left: -42px;
    margin-right: -42px;
  }

  .u-section-6 .u-image-1 {
    width: 244px;
    height: 70px;
    margin-top: 13px;
  }

  .u-section-6 .u-btn-1 {
    font-family: alfont_com_KOSans-Regular;
    margin-top: 29px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 395px;
}

.u-section-7 .u-text-1 {
  width: auto;
  font-size: 1.875rem;
  font-family: alfont_com_KOSans-Regular;
  line-height: 1.47;
  margin: 50px 0 0;
}

.u-section-7 .u-text-2 {
  font-family: alfont_com_KOSans-Regular;
  line-height: 1.55;
  font-size: 1.5rem;
  width: auto;
  font-weight: 400;
  margin: 13px -42px 0;
}

.u-section-7 .u-image-1 {
  width: 244px;
  height: 70px;
  margin: 13px auto 0;
}

.u-section-7 .u-text-3 {
  font-size: 6rem;
  font-weight: 400;
  font-family: Roboto, sans-serif;
  margin: 30px -42px 0;
}

.u-section-7 .u-text-4 {
  font-family: alfont_com_KOSans-Regular;
  margin-left: -42px;
  margin-right: -42px;
  margin-bottom: 0;
  font-size: 3rem;
}

.u-section-7 .u-image-2 {
  width: 450px;
  height: 300px;
  margin: 30px -42px 0 0;
}

.u-section-7 .u-text-5 {
  font-family: alfont_com_KOSans-Regular;
  font-size: 6rem;
  margin: 30px -42px 0;
}

.u-section-7 .u-text-6 {
  font-family: alfont_com_KOSans-Regular;
  margin-left: -42px;
  margin-right: -42px;
  margin-bottom: 0;
  font-size: 3rem;
}

.u-section-7 .u-image-3 {
  width: 171px;
  height: 300px;
  margin: 30px -42px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-7 .u-text-3 {
    font-size: 4.5rem;
  }

  .u-section-7 .u-text-4 {
    margin-right: 0;
  }

  .u-section-7 .u-image-2 {
    margin-right: 0;
  }

  .u-section-7 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
    font-size: 4.5rem;
  }

  .u-section-7 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-image-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-3 {
    font-size: 3.75rem;
  }

  .u-section-7 .u-text-4 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-text-5 {
    font-size: 3.75rem;
  }

  .u-section-7 .u-text-6 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1772px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-7 .u-image-1 {
    width: 831px;
    height: 238px;
    margin-top: 50px;
    margin-left: -245px;
    margin-right: -245px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    font-size: 1.875rem;
    font-weight: 700;
    font-family: alfont_com_KOSans-Regular;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    font-size: 1.25rem;
    line-height: 1.3;
    margin-top: 30px;
    margin-left: 0;
  }

  .u-section-7 .u-image-2 {
    width: 340px;
    height: 227px;
  }

  .u-section-7 .u-text-5 {
    width: auto;
    font-size: 1.875rem;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-6 {
    width: auto;
    font-size: 1.25rem;
    line-height: 1.44;
    margin-top: 13px;
  }

  .u-section-7 .u-image-3 {
    width: 293px;
    height: 512px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 13px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 494px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 374px;
}

.u-section-8 .u-container-layout-1 {
  padding: 45px 30px 30px;
}

.u-section-8 .u-text-1 {
  margin: 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 374px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-8 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-8 .u-btn-1 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  font-family: "Open Sans", sans-serif;
  margin: 30px auto 0;
  padding: 17px 49px 17px 47px;
}

.u-section-8 .u-layout-cell-3 {
  min-height: 374px;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-8 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-8 .u-btn-2 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  font-family: "Open Sans", sans-serif;
  margin: 30px auto 0;
  padding: 17px 49px 17px 47px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 308px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 308px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 308px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 343px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 314px;
  }

  .u-section-8 .u-text-3 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 294px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 314px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-btn-1 {
    font-family: alfont_com_KOSans-Regular;
    margin-top: 20px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 252px;
  }

  .u-section-8 .u-btn-2 {
    font-family: alfont_com_KOSans-Regular;
    margin-top: 20px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 400px;
}

.u-section-9 .u-text-1 {
  font-family: alfont_com_KOSans-Regular;
  margin-bottom: 0;
}

.u-section-9 .u-text-2 {
  font-family: alfont_com_KOSans-Regular;
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-9 .u-text-3 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-9 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-9 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 375px;
  grid-gap: 10px;
}

.u-section-9 .u-container-layout-1 {
  padding: 10px;
}

.u-section-9 .u-text-4 {
  font-family: alfont_com_KOSans-Regular;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 6rem;
}

.u-section-9 .u-icon-1 {
  font-size: 6rem;
}

.u-section-9 .u-container-layout-2 {
  padding: 10px;
}

.u-section-9 .u-text-5 {
  font-family: alfont_com_KOSans-Regular;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 6rem;
}

.u-section-9 .u-icon-2 {
  font-size: 6rem;
}

.u-section-9 .u-container-layout-3 {
  padding: 10px;
}

.u-section-9 .u-text-6 {
  font-family: alfont_com_KOSans-Regular;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 6rem;
}

.u-section-9 .u-icon-3 {
  font-size: 6rem;
}

.u-section-9 .u-image-1 {
  width: 570px;
  height: 89px;
  margin-top: 30px;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-9 .u-text-4 {
    font-size: 4.5rem;
  }

  .u-section-9 .u-text-5 {
    font-size: 4.5rem;
  }

  .u-section-9 .u-text-6 {
    font-size: 4.5rem;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 395px;
  }

  .u-section-9 .u-text-4 {
    font-size: 3.75rem;
  }

  .u-section-9 .u-text-5 {
    font-size: 3.75rem;
  }

  .u-section-9 .u-text-6 {
    font-size: 3.75rem;
  }

  .u-section-9 .u-image-1 {
    width: 540px;
    height: 84px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 801px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-top: 22px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-9 .u-text-3 {
    margin-right: 0;
    width: auto;
  }

  .u-section-9 .u-list-1 {
    margin-top: 20px;
  }

  .u-section-9 .u-text-4 {
    font-size: 1.5rem;
    width: auto;
    margin-right: 22px;
    margin-left: auto;
  }

  .u-section-9 .u-icon-1 {
    font-size: 1.8334em;
  }

  .u-section-9 .u-text-5 {
    font-size: 1.5rem;
    width: auto;
    margin-right: 22px;
    margin-left: auto;
  }

  .u-section-9 .u-icon-2 {
    font-size: 1.8334em;
  }

  .u-section-9 .u-text-6 {
    font-size: 1.5rem;
    width: auto;
    margin-right: 22px;
    margin-left: auto;
  }

  .u-section-9 .u-icon-3 {
    font-size: 1.8334em;
  }

  .u-section-9 .u-image-1 {
    width: 440px;
    height: 83px;
    margin-top: 0;
    margin-left: -50px;
    margin-right: -50px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 400px;
}

.u-section-10 .u-text-1 {
  font-family: alfont_com_KOSans-Regular;
  font-size: 6rem;
  margin: 20px auto 0;
}

.u-section-10 .u-text-2 {
  font-family: alfont_com_KOSans-Regular;
  font-size: 3rem;
  margin: 20px auto 0;
}

.u-section-10 .u-image-1 {
  width: 455px;
  height: 300px;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-10 .u-text-2 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 565px;
  }

  .u-section-10 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
    margin-top: 48px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 19px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-image-1 {
    height: 361px;
    margin-top: 14px;
    margin-bottom: 0;
    object-position: 50% 20.78%;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 400px;
}

.u-section-11 .u-text-1 {
  font-family: alfont_com_KOSans-Regular;
  margin-bottom: 0;
  font-size: 6rem;
  font-weight: 400;
}

.u-section-11 .u-text-2 {
  font-family: alfont_com_KOSans-Regular;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 60px;
  font-size: 3rem;
}

@media (max-width: 1199px) {
  .u-section-11 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-11 .u-text-2 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 104px;
  }

  .u-section-11 .u-text-1 {
    width: auto;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-11 .u-text-2 {
    width: auto;
    font-size: 1rem;
    margin: 20px 9px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 104px;
}

.u-section-12 .u-text-1 {
  font-family: alfont_com_KOSans-Regular;
  width: auto;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-12 .u-text-2 {
  font-family: alfont_com_KOSans-Regular;
  width: auto;
  font-size: 1rem;
  margin: 20px 9px;
}

@media (max-width: 575px) {
  .u-section-12 .u-text-1 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-12 .u-text-2 {
    margin-left: -20px;
    margin-right: -20px;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 104px;
}

.u-section-13 .u-text-1 {
  font-family: alfont_com_KOSans-Regular;
  width: auto;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-13 .u-text-2 {
  font-family: alfont_com_KOSans-Regular;
  font-size: 1rem;
  width: auto;
  margin: 20px -20px;
}.u-section-14 .u-sheet-1 {
  min-height: 104px;
}

.u-section-14 .u-text-1 {
  font-family: alfont_com_KOSans-Regular;
  width: auto;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-14 .u-text-2 {
  font-family: alfont_com_KOSans-Regular;
  font-size: 1rem;
  width: auto;
  margin: 20px -20px;
}.u-section-15 .u-sheet-1 {
  min-height: 104px;
}

.u-section-15 .u-text-1 {
  font-family: alfont_com_KOSans-Regular;
  width: auto;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-15 .u-image-1 {
  width: 104px;
  height: 104px;
  margin: 30px auto 0;
}

.u-section-15 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Open Sans", sans-serif;
  margin: 30px auto 0;
}

@media (max-width: 575px) {
  .u-section-15 .u-sheet-1 {
    min-height: 514px;
  }

  .u-section-15 .u-text-1 {
    font-size: 2.25rem;
    line-height: 1.34;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-15 .u-image-1 {
    width: 378px;
    height: 378px;
    margin-top: 20px;
    margin-left: -19px;
    margin-right: -19px;
  }

  .u-section-15 .u-btn-1 {
    font-family: alfont_com_KOSans-Regular;
    margin-top: -123px;
    margin-bottom: 60px;
    margin-left: 37px;
  }
}.u-section-16 .u-sheet-1 {
  min-height: 514px;
  margin-bottom: 0;
}

.u-section-16 .u-text-1 {
  font-family: alfont_com_KOSans-Regular;
  font-size: 6rem;
  font-weight: 400;
  margin: 20px auto 0 37px;
}

.u-section-16 .u-gallery-1 {
  height: 375px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-16 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-16 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-16 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-16 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-16 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-16 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-16 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-16 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-16 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-16 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-16 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

@media (max-width: 1199px) {
  .u-section-16 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-16 .u-carousel-control-1 {
    left: 8px;
  }

  .u-section-16 .u-carousel-control-2 {
    right: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-16 .u-carousel-control-1 {
    left: 6px;
  }

  .u-section-16 .u-carousel-control-2 {
    right: 6px;
  }
}

@media (max-width: 767px) {
  .u-section-16 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-16 .u-carousel-control-1 {
    left: 5px;
  }

  .u-section-16 .u-carousel-control-2 {
    right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-16 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-16 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    font-weight: 700;
    margin-top: 39px;
    margin-left: auto;
  }

  .u-section-16 .u-gallery-1 {
    width: 440px;
    margin: 58px -50px;
  }

  .u-section-16 .u-carousel-control-1 {
    left: 3px;
  }

  .u-section-16 .u-carousel-control-2 {
    right: 3px;
  }
} .u-section-17 {
  background-image: linear-gradient(to bottom, rgba(77, 77, 77, 1), rgba(77, 77, 77, 1)), url('images/default-image.jpg?rand=bed1');
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.u-section-17 .u-sheet-1 {
  margin-bottom: 0;
  min-height: 514px;
}

.u-section-17 .u-text-1 {
  font-family: alfont_com_KOSans-Regular;
  margin-bottom: 60px;
  font-size: 6rem;
}

@media (max-width: 1199px) {
  .u-section-17 .u-sheet-1 {
    min-height: 424px;
  }

  .u-section-17 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-17 .u-sheet-1 {
    min-height: 325px;
  }
}

@media (max-width: 767px) {
  .u-section-17 .u-sheet-1 {
    min-height: 244px;
  }

  .u-section-17 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-17 .u-sheet-1 {
    min-height: 179px;
  }

  .u-section-17 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin: 28px auto 52px;
  }
}@font-face {
  font-family: 'alfont_com_KOSans-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/alfont_com_KOSans-Regular.otf);
}